@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #1e4538;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --font-sans: var(--font-kohinoor);
  --font-serif: var(--font-lamoric-rowen);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-kohinoor), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-lamoric-rowen), serif;
}
